/* Mulish font family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&display=swap');

/* shared styles */
*{
    font-family: 'Mulish', sans-serif;
}
body{
    margin: 52px 135px;
}

/* header related styles */
nav {
    display: flex;
    align-items:center;
    justify-content: space-between; 
    margin: 0px;
}
.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.nav-title{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    margin: 0px;
}
.logo{
    max-width: 48px;
    max-height: 56px;
}
.text-primary{
    color: #FF5400;
    font-weight: 700;
}
nav > ul {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

nav li{
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
nav a, li{
    text-decoration: none;
    color: #474747;
}

.frame-icon{
    overflow: hidden;
    background-color: #fff;
    position: relative;
    display: none;

}

/* banner section styles */
.banner-section{
    background: linear-gradient(#131318, #13131800), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 106px;

}
.banner-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    max-width: 676px;
    margin-top: 0px;
    margin-bottom: 48px;
}
.input-container{
    border-radius: 8px;
    background: #ffffff4d;
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 24px;

}
input {
    border:none;
    background-color: #fff;
    padding: 16px 15px;
    border-radius:8px;
    min-width: 174px;
    max-height: 52px;
}

button {
    font-size: 16px;
    text-align: center;
    background: #FF5400;
    color: #FFF;
    cursor: pointer;
    border:none;
    padding: 16px 15px;
    border-radius:8px;
    min-width: 174px;
    max-height: 52px;
}

button:hover{
    background-color: rgb(4, 155, 193);
}

/* popular tour section */

.popular-tour-section{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 
    gap: 30px;
    margin-top: 100px;
}

.popular-tour-content{
    margin-top: 0px;
}
.popular-section-title{
    margin-top: 0px;
    color: #131318;
    text-align: justify;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.section-btn{
    margin-top: 24px;
    margin-bottom: 0px;
}
.popular-section-description{
    color: #474747;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}
.popular-img>img{
    max-width: auto;
    max-height: 490px;

}

/* destination styles */

.destination-section{
    margin-top: 100px;

}
.destination-content{
    text-align: center;
}
.section-title{
    text-align: center;
    margin-top: 0px;
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.section-description{
    color: #474747;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    max-width: 650px;
    padding-left: 400px;
    padding-right: auto;

}
.country-collage{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

.row> div>img{
    width: 100%;
    height: 100%;
}
.country-container{
    position: relative;
    text-align: center;
    color: white;
}
.country-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Responsive Media Query */
@media screen and (max-width:600px) {
    body{
        margin: 20px;
    }
    nav{
        margin: 0px;
        flex-direction: column;
        justify-content: left;

    }
    .logo-title{
        position: absolute;
        left: 20px;

    }
    .nav-title{
        font-size: 21.543px;        
    }
    nav > ul > li {
        overflow: hidden;
        background-color: #fff;
        position: relative;
        display: none;
    }
    .frame-icon{
        overflow: hidden;
        background-color: #fff;
        position: absolute;
        display: block;
        right: 0px;
        top: 30px;    
}
    .banner-section {
    padding-bottom: 32px;

  }
    .banner-title{
    font-size: 1.75rem;
    padding-top: 32px;
    margin-bottom: 8px;
}
    .banner-description{
    font-size: 0.75rem;
    font-weight: 400;
    max-width: 300px;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 32px;
}
    .input-container{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}
input {
    min-width: 255px;
    max-height: 52px;
}
#search-btn{
    min-width: 255px;
    max-height: 52px;
}
.popular-tour-section{
    flex-direction: column;
    justify-content: center;

}
.popular-img>img{
    margin-left: 0px;
    min-width: 335px;
    min-height: auto;
   
}
.section-description{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 33px;
    padding-right: 33px;

}
.section-title{
    font-size: 20px;
}

.row {
    flex-direction: column;
    height: auto;
}
.row > div{
    flex: 1;
}
.row img{
    width: 100%;
    max-height: 250px;
}
}



