/* Mulish font family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&display=swap');

/* shared styles */
*{
    font-family: 'Mulish', sans-serif;
}
body{
    margin: 52px 135px;
}

/* header related styles */
nav {
    display: flex;
    align-items:center;
    justify-content: space-between; 
    margin: 0px;
}
.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.nav-title{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    margin: 0px;
}
.logo{
    max-width: 48px;
    max-height: 56px;
}
.text-primary{
    color: #FF5400;
    font-weight: 700;
}
nav > ul {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

nav li{
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
nav a, li{
    text-decoration: none;
    color: #474747;
}

.frame-icon{
    overflow: hidden;
    background-color: #fff;
    position: relative;
    display: none;

}

/* banner section styles */
.banner-section{
    background: linear-gradient(#131318, #13131800), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 106px;

}
.banner-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    max-width: 676px;
    margin-top: 0px;
    margin-bottom: 48px;
}
.input-container{
    border-radius: 8px;
    background: #ffffff4d;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}
.input-container > input [type="text"] {
    border:none;
    background-color: #fff;
    padding: 16px 15px;
    border-radius: 8px;
    min-width: 174px;
    max-height: 52px;
    margin: 0px;
}
input[type="date"]{
    border:none;
    background-color: #fff;
    padding: 16px 15px;
    border-radius:8px;
    min-width: 174px;
    max-height: 52px;
    margin: 0px;
}

.input-container> button, .popular-tour-content>button, .simple-perfect-content>button {
    font-size: 16px;
    text-align: center;
    background: #FF5400;
    color: #FFF;
    cursor: pointer;
    border:none;
    padding: 16px 15px;
    border-radius:8px;
    min-width: 174px;
    max-height: 52px;
}

button:hover{
    background-color: rgb(4, 155, 193);
}

/* popular tour section */

.popular-tour-section, .simple-perfect-section{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between; 
    gap: 30px;
    margin-top: 100px;
}

.popular-tour-content, .simple-perfect-content{
    margin-top: 0px;
}
.popular-section-title, .simple-perfect-title{
    margin-top: 0px;
    color: #131318;
    text-align: justify;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.section-btn{
    margin-top: 24px;
    margin-bottom: 0px;
}
.popular-section-description, .simple-perfect-description{
    color: #474747;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}
.popular-img>img{
    max-width: auto;
    max-height: 490px;

}

/* destination styles */

.destination-section{
    margin-top: 100px;

}
.destination-content{
    text-align: center;
}
.section-title{
    text-align: center;
    margin-top: 0px;
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.section-description{
    color: #474747;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    max-width: 650px;
    padding-left: 400px;
    padding-right: auto;

}
.country-collage{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

.row> div>img{
    width: 100%;
    max-height: 100%;
}
.country-container, .simple-perfect-image{
    position: relative;
    text-align: center;
    color: white;
}
.simple-perfect-image> img{
    min-width: ;
}
.country-name, .mountain-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* why-choose-us styles */

.why-choose-us{
    margin-top: 100px;

}

.feature-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 24px;
    text-align: left;   
}
.feature-cont-2{
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
.feature-1{
    border-radius: 16px;
    border: 1px solid #fbb56333;
    background: #fbb5630d;
    padding: 32px;
}
.feature-2{
    border-radius: 16px;
    border: 1px solid #29cef633;
    background: #29cef60d;
    padding: 32px;
}
.feature-3{
    border-radius: 16px;
    border: 1px solid #e9444433;
    background: #e944440d;
    padding: 32px;
    
}
.feature-title{
    color: #131318;
    text-align: left;
    font-size: 24px;
    font-weight: 800;
}

/* newsletter-section */
.newsletter-section{
    margin-top:100px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.newsletter-container{
    width:50%;
}
.save-up-to-image{
    width: 45%;
    height: auto;
}
.save-up-to-image > img{
    min-width: 100%;
    min-height: 440px;
}
form {
    border: 1px solid #FF5400;
  }
  
  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    min-height: 52px;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
  }

  input[type=submit] {
    background-color: #FF5400;
    color: white;
    border: none;
    font-size: 24px;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  .save-up-to-image{
    border-radius: 16px;
    position: relative;
  }
  .save{
    padding: 40px 32px;
    background-color: #FF5400;
    color:#fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0px;
    width: 324px;
    height: 60px;
    border-radius: 8px;
    position: absolute;
    bottom: 20%;
    right: 10%;
    transform: rotate(-19.628deg);
   }

   /* footer styles */

   .footer{
    margin-top: 100px;
    padding-top: 32px;
    padding-bottom: 100px;
    background-color: #1313180d;
    text-align: center;
   }
   .footer>.logo-title>img{
    margin-top: 35px;
   }
   .footer-title{
    font-size: 32px;
    margin-bottom: 0px;
   }
   .social-icon-container{
    margin: 32px auto;
   }

   .social-icon-container .fa {
    padding: 5px;
    font-size: 24px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    color: #131318;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  hr{
    border: 1px solid #1313181a;
    margin-bottom: 40px;
    max-width: 50%;
  }

/* Responsive Media Query */
@media screen and (max-width:600px) {
    body{
        margin: 20px;

        /* header section responsive */
    }
    nav{
        margin: 0px;
        flex-direction: column;
        justify-content: left;

    }
    .nav>.logo-title{
        position: absolute;
        left: 20px;

    }
    .nav-title{
        font-size: 21.543px;        
    }
    nav > ul > li {
        overflow: hidden;
        background-color: #fff;
        position: relative;
        display: none;
    }
    .frame-icon{
        overflow: hidden;
        background-color: #fff;
        position: absolute;
        display: block;
        right: 0px;
        top: 30px;    
}
    .banner-section {
    padding-bottom: 32px;

  }
    .banner-title{
    font-size: 1.75rem;
    padding-top: 32px;
    margin-bottom: 8px;
}
    .banner-description{
    font-size: 0.75rem;
    font-weight: 400;
    max-width: 300px;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 32px;
}
    .input-container{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}
input {
    min-width: 255px;
    max-height: 52px;
}
input[type="date"] {
    min-width: 255px;
    max-height: 52px;
}
#search-btn{
    min-width: 255px;
    max-height: 52px;
}

/* popular section responsive */
.popular-tour-section, .simple-perfect-section{
    flex-direction: column;
    justify-content: center;

}
.popular-img>img{
    width: 100%;
    height: auto;
}

#popular-img{
    max-width: 100%;
    height: auto;
}
/* this is a common section description for some section */
.section-description{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 33px;
    padding-right: 33px;

}
.section-title{
    font-size: 20px;
}

/* image collage responsive */

.row {
    flex-direction: column;
    height: auto;
}
.row > div{
    flex: 1;
}
.row img{
    width: 100%;
    max-height: 250px;
    
}
.country-container>img{
    max-width: 100%;
    max-height: 278px;
}
/* why choose us section responsive */

.feature-container{
    grid-template-columns: 1fr;
}
.feature-title{
    font-size: 20px;
}

/* this is common style shared for all sections */
.why-choose-us, .destination-section, .simple-perfect-section, .newsletter-section, .popular-tour-section, .footer {
    margin-top: 24px;
}
.simple-perfect-title, .popular-section-title{
    font-size: 20px;
}
.simple-perfect-image >img{
    max-width: 100%;
    max-height: 250px;
}

/* newsletter section responsive */

.newsletter-section{
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.newsletter-container{
    width: 100%;
}

.save-up-to-image{
    border-radius: 16px;
    position: relative;
    left: -25%;
    width: 100%;
}
.save-up-to-image>img{
    max-width: 445px;
    max-height: 278px;
}
  .save{
    top: 30%;
    left: 35%;
}

/* footer responsive */

.footer>.logo-title>img{
    margin-top: 35px;
   }
}
